html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 94%;
    line-height: 113%;
    font-weight: 400;
    color: #000000;
    width: 100%;
    height: 100%;

}

.wrapper { 
    max-width: 93%; /*1338px;*/
    margin: 0 auto;
 }
 
.header__wrapper {
	
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}


.nav__list {

    display: flex;
    flex-wrap: wrap;
}

.nav__item {
    margin-right: 64px;
 } 

 
 .nav__item:nth-child(1) {
   text-decoration: underline;
  
 } 

.nav__item:nth-child(5) {
    margin-right: 221.14px;
 } 

 .nav__item:nth-child(6) {
    margin-right: 30px;

}

.nav__item:nth-child(7) {
    margin-right: 30px;
 }   


.nav__item {
    list-style-type: none;
}


.nav__link{
    font-weight: 600;
    text-decoration: none;
    color: #000000
}


.nav__link:hover,.nav__link:focus {
    color: #E51937;
}



/*.nav__link:activ {*/
    /*color: #E51937;*/
    /*text-decoration: underline;*/
/*}*/





/*header style end*/

/*presentation style start*/


.wrap {
	position: relative;
	top: 19.3%; /*278px;*/
	width: 100%;
    height: 594px;
    /*left: -74px;*/
    background: url(../img/red-car-tesla.jpg) no-repeat center;
    background-size: auto;
     
        /*margin-top: 5.5%; /*79px;*/   /*134-55(высота header)*/*/
}

.presentation__title {
    text-align: center;
    font-weight: 600;
    font-size: 562.5%;   /*90px;*/
    line-height: 110%; /*110px;*/
    margin-bottom: 0px;
       /*margin-bottom: -10px;*/

}

.presentation__subtitle {
	position: relative;
	top: 0px;
	text-align: center;
    font-weight: 500;
    font-size: 94%;  /*15px;*/
    line-height: 18px;
    margin-bottom: 34.9%; /*503px;*/ 
    margin-top: 0px; 
}   

.presentation__benefits {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;  /*2.78%;*/
}

.speed__img {
    margin-right: 82.3px;  /*5.72%;*/

} 

.road__img {
	margin-right: 105px;  /*7.29%;*/

}   

.test-drive__img {
    margin-right: 40px; /*2.78%;*/
}

.test-drive-red__img {
	display: none;
}


 .order__btn {
    width: 160px;
    height: 40px;
    padding: 7px 11px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #E51937;
    background: transparent;
    border-style: solid;
    border-color: #E51937;
 } 

  .vector {
    /*position: absolute;*/
    width: 28px;
    height: 14px;
    margin: 0 auto;
    /*left: 706px;*/
    /*top: 860px;  */
} 
  
  @media screen and (max-width: 768px) {
  .nav__list {
    display: none;
}

.wrap {
	background-size: 100%;

}
.test-drive__img {
	display: none;
}

.presentation__benefits {
	display: grid;
	grid-template-columns: 1fr 1fr;                        
    grid-template-rows: 1fr 1fr;
    text-align: center;

}




.test-drive-red__img {
	display: inline-block;
}

.order__btn {
   background: #E51937;
   color: #FFFFFF;
}

.speed__img {
width: 220.7px;
height: 80.26px;
}

.road__img  {
width: 200.64px;
height: 83.12px;
}

.test-drive-red__img {
width: 162.87px;
height: 30.37px;
}

}





