html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 94%;
    line-height: 113%;
    font-weight: 400;
    color: #000000;
    width: 100%;
    /*height: 100%;*/

}

.header {
    /*min-height: 77px;*/
    /*background: green;*/
}

.wrapper { 
    max-width: 93%; /*1338px;*/
    margin: 0 auto;
    /*min-height: 51px;*/
    /*background: #6cc372;*/
    margin-bottom: 74px;

}    

.header__wrapper {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /*background: #c4c4c4;*/

}





.nav__list {
    display: flex;
    flex-wrap: wrap;

}


.nav__item {
    list-style-type: none;
    margin-right: 64px;
 } 

 .nav__item:nth-child(1) {
    height: 25px;
    border-bottom: 2px solid #E51937;
    display: inline-block;
    color: red;
}  

.nav__item:nth-child(5) {
    margin-right: 221.14px;
 }  

.nav__item:nth-child(6) {
    margin-right: 30px; 
}    

.nav__link{
    font-weight: 600;
    text-decoration: none;
    color: #000000
}
 
.nav__link:hover,.nav__link:focus {
    color: #E51937;
}    

.wrap {
    position: relative;
    top: 19.3%; /*278px;*/
    width: 100%;
    height: 594px;
    /*left: -74px;*/
    background: url(../img/red-car-tesla.jpg) no-repeat center;
    background-size: auto;
}    

.presentation__title {
    text-align: center;
    font-weight: 600;
    font-size: 562.5%;   /*90px;*/
    line-height: 110%; /*110px;*/
    margin-bottom: 0px;
}

.presentation__subtitle {
    /*position: relative;*/
    /*top: 0px;*/
    text-align: center;
    font-weight: 500;
    font-size: 94%;  /*15px;*/
    line-height: 18px;
    margin-bottom: 34.9%; /*503px;*/ 
    margin-top: 0px; 
}  

.presentation__benefits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; 
}

.speed__img {
    margin-right: 82.3px;  /*5.72%;*/

} 

.road__img {
    margin-right: 105px;  /*7.29%;*/

}   

.test-drive__img {
    margin-right: 40px; /*2.78%;*/
}

.test-drive-red__img {
    display: none;
}

.order__btn {
    width: 160px;
    height: 40px;
    padding: 7px 11px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 81.25%;
    color: #E51937;
    background: transparent;
    border-style: solid;
    border-color: #E51937;
 } 

  .vector {
    width: 28px;
    height: 14px;
    margin: 0 auto; 
}         




@media screen and (max-width: 1333px) {
  .nav__list {
    display: none;
}

.wrap {
    background-size: 100%;

}

}

@media screen and (max-width: 860px) {
  .nav__list {
    display: none;
}

.wrap {
    background-size: 100%;
    height: 490px;

}

.presentation__benefits {
    height: 194px;
    display: grid;
    grid-template-columns: 245px 245px;                        
    grid-template-rows: 97px 97px;
    align-content: center;
    justify-content: center;
    text-align: center;

}


.test-drive__img {
    display: none;
}

.test-drive-red__img {
    display: inline-block;
}

.order__btn {
   background: #E51937;
   color: #FFFFFF;
}

.speed__img {
width: 220.7px;
height: 80.26px;
}

.road__img  {
width: 200.64px;
height: 83.12px;
}

.test-drive-red__img {
width: 162.87px;
height: 30.37px;
}
.order__btn {
    width: 220.84px;
    height: 55.21px;
    font-size: 100%;
}    

}

@media screen and (max-width: 600px) {
  .nav__list {
    display: none;
}

.wrap {
    background-size: 100%;
    height: 490px;


}

.presentation__title {
    font-size: 312.5%;  
}   

.presentation__subtitle {
    font-size: 62.5%;  
}  

.presentation__benefits {
     height: 194px;
    display: grid;
    grid-template-columns: 245px 245px;                        
    grid-template-rows: 97px 97px;
    align-content: center;
    text-align: center;

}

   

.test-drive__img {
    display: none;
}

.test-drive-red__img {
    display: inline-block;
}

.order__btn {
   background: #E51937;
   color: #FFFFFF;
}

.speed__img {
width: 220.7px;
height: 80.26px;
}

.road__img  {
width: 200.64px;
height: 83.12px;
}

.test-drive-red__img {
width: 162.87px;
height: 30.37px;
}
.order__btn {
    width: 220.84px;
    height: 55.21px;
    font-size: 100%;
}    

}

@media screen and (max-width: 375px) {
  .nav__list {
    display: none;
}

.wrap {
    background-size: 100%;
    height: 290px;

}

.presentation__title {
    font-size: 312.5%;  
}   

.presentation__subtitle {
    font-size: 62.5%;  
}  

   


.presentation__benefits {
    height: 147px;
    display: grid;
    grid-template-columns: 151.5px 151.5px;                        
    grid-template-rows: 73.5px 73.5px;
    /*align-content: center;*/
    justify-content: center;
    text-align: center;

}

.test-drive__img {
    display: none;
}

.test-drive-red__img {
    display: inline-block;
}

.order__btn {
   background: #E51937;
   color: #FFFFFF;
}

.speed__img {
width: 127px;
height: 53px;
}

.road__img  {
width: 115px;
height: 53px;
}

.test-drive-red__img {
width: 118px;
height: 22px;
}
.order__btn {
    width: 160px;
    height: 40px;
    font-size: 81.25%;
}    

}






